<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
  </head>
  <body>
    <p>
      Helping made simple, meaningful.
      A community one-stop portal for helping out! We believe in paying it forward. Join as a tasker if you need some friendly assistance. Or you can join as a helper to pay it forward!
    </p>

   <img src="assets/userflow.png" alt="user flow" style="width:304px;height:228px;">


  </body>
</html>
