<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">

  </head>

  <body>
    <h1>This is the homepage</h1>
    <h2>About us: What we are</h2>

    <button type="button" class="btn btn-default navbar-btn"><a href="/taskers/signup">Signup as Tasker</button>
    <button type="button" class="btn btn-default navbar-btn"><a href="/helpers/signup">Signup as Helper</button>
    <button type="button" class="btn btn-default navbar-btn"><a href="/taskers/login">Tasker Login</button>
    <button type="button" class="btn btn-default navbar-btn"><a href="/helpers/login">Helper Login</button>



    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/js/script.js" charset="utf-8"></script>
  </body>
</html>
