<h1>This is the homepage</h1>

<h2>About us: What we are</h2>



<button type="button" class="btn btn-default navbar-btn"><a href="/taskers/signup">Signup as Tasker</button>
<button type="button" class="btn btn-default navbar-btn"><a href="/helpers/signup">Signup as Helper</button>
<button type="button" class="btn btn-default navbar-btn"><a href="/taskers/login">Tasker Login</button>
<button type="button" class="btn btn-default navbar-btn"><a href="/helpers/login">Helper Login</button>
