body {
  /*color: red;*/
  /*background: rgb(176, 250, 241) url("http://www.hercampus.com/sites/default/files/styles/full_width_embed/public/2015/11/29/giving%20back_1.png?itok=ljkLkJ2z") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  text-align: center;
}



h1 {
  color: rgb(9, 163, 230)
}

/*h2 {
  rgb(50, 42, 1)
}*/

#logoutbtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  height: 50px
}
