listings page

<%# <ul id="all-user-list">
  <% allUsers.forEach(function(user) { %>
    <li>
        <%= user.local.name %><br>
        <%= user.local.email %><br>
        <%= user.local.password %>
    </li>
  <% }) %>
  </ul>%>
  
