<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Message board</title>
  </head>
  <body>

    <form class="message" id="postMsg" action="#" method = "post">

      <div class="form-group">
        <label>Title</label>
        <input type="text" name="task[title]" class="form-control" id="task-title" value="<%=viewTask.title%>">
      </div>

      <div class="form-group">
        <label>Comments</label>
        <input type="text" name="task[message]" class="form-control" id="task-message" value="">
      </div>

      <button type="submit" class="btn btn-primary">Amend</button>
    </form>

  </body>
</html>
