<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h2>List a new task</h2>

    <button type="button" id="logoutbtn" class="btn btn-default btn-sm"><a href="/logout">Logout</a>
    <span class="glyphicon glyphicon-log-out"></span>
    </button>


    <form class="newtask" action="/tasks/newtask" method = "post">

      <div class="form-group">
        <label class="sr-only">Title</label>
        <input type="text" name="task[title]" class="form-control" id="task-title" placeholder="Task title">
      </div>

      <div class="form-group">
        <label class="sr-only">Description</label>
        <input type="text" name="task[description]" class="form-control" id="task-description" rows="3" placeholder="Task description">
      </div>

      <div class="form-group">
        <label class="sr-only">Date</label>
        <input type="date" name="task[date]" class="form-control" id="task-date" placeholder="Date">
      </div>

      <div class="form-group">
        <label class="sr-only">Time</label>
        <input type="time" name="task[time]" class="form-control" id="task-time"  placeholder="Time">
      </div>

      <div class="form-group">
        <label class="sr-only">Location</label>
        <input type="text" name="task[location]" class="form-control" id="task-location" placeholder="Location">
      </div>

      <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
      <button type="button" class="btn btn-secondary btn-lg"><a href="/taskers/profile">Back to profile</button>

    </form>




  </body>
</html>
