TASKERS - LOGIN

<form class="tasker-login" action="/taskers/login" method = "post">

  <div class="form-group">
    <label class="sr-only">Email address</label>
    <input type="email" name=tasker[email] class="form-control" id="tasker-email" placeholder="Email">
  </div>

  <div class="form-group">
    <label class="sr-only">Password</label>
    <input type="password" name=tasker[password] class="form-control" id="tasker-password" placeholder="Password">
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
