Taskers profile page

<% if(message.length > 0) { %>
  <h3>Flash Found</h3>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% } %>


  <button type="button" class="btn btn-secondary btn-lg"><a href="/tasks/newtask">Create a task</button>

  <a href="taskers/logout">Logout</a>
