<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Helpers Login</h2>

    <form class="helper-login" action="/helpers/login" method = "post">

      <div class="form-group">
        <label class="sr-only">Email address</label>
        <input type="email" name="helper[local][email]" class="form-control" id="helper-email" placeholder="Email">
      </div>

      <div class="form-group">
        <label class="sr-only">Password</label>
        <input type="password" name="helper[local][password]" class="form-control" id="helper-password" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>

  </body>
</html>
