Helpers profile page

  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Helper profile page</title>
      <link rel="stylesheet" href="/public/css/style.css">
    </head>
    <body>

      <button type="button" id="logoutbtn" class="btn btn-default btn-sm"><a href="/helpers/logout">Logout</a>
      <span class="glyphicon glyphicon-log-out"></span>
      </button>

        <a href="/tasks/helperlist">Check out open tasks</a>


    </body>
  </html>
